domain_name    = "${BASE_DOMAIN}"
target_ip      = "${TARGET_IP}"
acme_challenge = "${ACME_CHALLENGE}"

subdomains = [
  "www",
  "nexus",
  "komet",
]

contact_info = {
  address_line_1 = "${ADDRESS_LINE_1}"
  city           = "${CITY}"
  contact_type   = "PERSON"
  country_code   = "US"
  email          = "${ADMIN_EMAIL}"
  first_name     = "${ADMIN_NAME}"
  last_name      = "${LAST_NAME}"
  phone_number   = "${ADMIN_PHONE}"
  state          = "${STATE}"
  zip_code       = "${ZIP_CODE}"
}